<h1 class="title-prod">Lista de productos:</h1>
 <h3>Hola {{email}}</h3>
<button id="logout" onclick="location.href='/'">Cerrar Sesion</button>
<div id="card-container" class="card-container"></div>

<script src="js/products.js"></script>