<h1 class="title-prod">Carrito de compras:</h1>
<button id="purchase-button" onclick="location.href='/cart'">Terminar compra</button>
<button onclick="location.href='/products'">Ir al inicio</button>
<div id="card-container" class="card-container"></div>

<script src="js/carts.js"></script>