<h1>Reestablecer Contraseña</h1>
{{#if condition}}
<div>
    <form class="form" action="/api/users/changePassword/{{id}}/{{token}}" method="POST">
        Contraseña: <input type='password' name='password' id='password' />
        <input type="submit" value="Enviar">
    </form>
</div>
{{else}}
<h1>Token vencido, vuelve a pedir el reestablecimiento de tu contraseña.</h1>
<button onclick="location.href='/'">Volver al login</button>
{{/if}}