<div class="chatLayout">
    <h4>CHAT</h4>

    <form id="form">
        <input type="text" name="message" id="message">
        <input type="submit" value="Enviar">
    </form>

    <p id="chat"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>