<h2>Compra realizada con exito.</h2>
ID: {{response.ticket._id}}
<button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" onclick="location.href='/products'">Back to shopping</button>