.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    margin: 10px;
}
.card-body{
    height: fit-content;
}
.title-prod{
    display: block;
    width: 100%;
}
.chatLayout{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.oculto{
    display: none;
}